@font-face {
    font-family: 'Zaha';
    src: url('./assets/Font/Zaha\ Hadid\ Sans.otf') format('woff2'),
        url('./assets/Font/Zaha\ Hadid\ Sans.ttf') format('woff');
    /* Add more src lines for other font formats if needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zaha", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.bg-brand {
    background-color: #9A5626;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-item {
    min-height: 350px;
    max-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* border-radius: 10px 10px 0px 0px; */

}

.main-nav {
    padding: 20px 0;
}

.nav-item .nav-link {
    color: #111;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.text-section {
    padding: 50px 0;
}

.text-box h2 {

    font-size: 20px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #9A5626;
}

.text-box p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #9A5626;
}

.data-box-section {
    padding: 40px 0;
}

.data-box-section .col-md-4 {
    margin-bottom: 25px;
}

.data-box-row {
    padding: 0 150px;
}

.data-box {
    width: 100%;
    height: 225px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #996B4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.data-box::after {
    content: '';
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(193, 149, 115, 1);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.data-box:hover::after {
    visibility: visible;
    opacity: 1;
}

.data-box:hover .data-box-content ul li {
    color: #fff;
}

.data-box-icon {
    width: 85px;
    height: 85px;
    border-radius: 50px;
    margin: 20px 0;
    z-index: 99;
}

.data-box-icon img {
    height: 100%;
    width: 100%;
}

.data-box-content {
    padding: 10px 0;
    z-index: 99;
}

.data-box-content ul li {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #9A5626;
    transition: all .3s ease-in;

}

footer {
    padding-bottom: 50px;
}

footer p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #a47c5f;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
    .carousel-item {
        max-height: 250px;
        min-height: 250px;
    }

    .text-section {
        padding: 40px 0;
    }

    .data-box-section {
        padding: 20px 0;
    }

    .text-box h2 {


        margin-bottom: 10px;
    }

    .text-box {
        padding: 0 10px;
    }

    .text-box p {
        font-size: 16px;

    }

    .data-box-row {
        padding: 0;
    }

    footer {
        padding: 20px;
        padding-top: 0;
    }
}
